/*crearNoticia*/

#crearPublicacionCard {
    background-color: #fff;
    border: none;
    border-radius: 10px #3a3a3a;
    margin-top: 100px;
    width: 135%;
}

.card-title {
    color: #4c4c4c;
    font-size: 28px;
    margin-bottom: 20px;
}

.form-group img.avatar-img {
    width: 50px;
    height: 50px;
}

.form-group .detalles {
    display: inline-block;
    margin-left: 10px;
}

.form-group .detalles p {
    margin: 0;
    color: #b5b5b5;
    font-size: 18px;
}

.form-group textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #4c4c4c;
    background-color: #fff;
    color: #4c4c4c;
}

.titulo {
    font-size: 20px;
}

.contenidoPublicacion {
    height: 150px;
    font-size: 20px;
}

.btnPublicarNoticia {
    background-color: #214dc5;
    border-color: #214dc5;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}

.btnPublicarNoticia:hover {
    background-color: #45a049;
    border-color: #45a049;
}

.btnPublicarNoticia {
    background-color: #007bff;
    border-color: #007bff;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
}

.btnPublicarNoticia:hover {
    background-color: #45a049;
    border-color: #45a049;
}




/*pagina noticia creada*/


